<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <section class="section">
            <div class="container">
                {{- block "main" . }}{{- end }}
            </div>
        </section>
        <section class="section">
            <div class="container">
                {{- partial "footer.html" . -}}
            </div>
        </section>
        {{- partial "site-scripts.html" . -}}
    </body>
</html>
